In [6]:
import numpy as np
import pandas as pd
from yaml import safe_load
import os
from tqdm import tqdm

In [2]:
filenames = []
for file in os.listdir('all'):
    filenames.append(os.path.join('all',file))

In [3]:
filenames[0:5]

['all\\1000851.yaml',
 'all\\1000853.yaml',
 'all\\1000855.yaml',
 'all\\1000881.yaml',
 'all\\1000883.yaml']

In [4]:
df_list = []
counter = 1

for file in tqdm(filenames):
    with open(file, 'r') as f:
        df = pd.json_normalize(safe_load(f))
        df['match_id'] = counter
        df_list.append(df)  # Append the DataFrame to the list
        counter += 1

100%|█████████▉| 7470/7471 [1:57:45<00:00,  1.06it/s]

NotImplementedError:

In [5]:
final_df = pd.concat(df_list, ignore_index=True)

In [11]:
final_df

,innings,info.city,info.dates,info.gender,info.match_type,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,...,info.supersubs.England,info.supersubs.Africa XI,info.supersubs.Asia XI,info.supersubs.Zimbabwe,info.supersubs.Sri Lanka,info.supersubs.Bangladesh,info.supersubs.India,info.supersubs.ICC World XI,info.supersubs.Pakistan,info.supersubs.West Indies
0,"[{'1st innings': {'team': 'South Africa', 'del...",Perth,"[2016-11-03, 2016-11-04, 2016-11-05, 2016-11-0...",male,Test,South Africa,[K Rabada],"[Australia, South Africa]",bat,South Africa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",Hobart,"[2016-11-12, 2016-11-13, 2016-11-14, 2016-11-15]",male,Test,South Africa,[KJ Abbott],"[Australia, South Africa]",field,South Africa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[{'1st innings': {'team': 'South Africa', 'dec...",NaN,"[2016-11-24, 2016-11-25, 2016-11-26, 2016-11-27]",male,Test,Australia,[UT Khawaja],"[Australia, South Africa]",bat,South Africa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[{'1st innings': {'team': 'Australia', 'delive...",Brisbane,"[2016-12-15, 2016-12-16, 2016-12-17, 2016-12-1...",male,Test,Australia,[Asad Shafiq],"[Australia, Pakistan]",bat,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[{'1st innings': {'team': 'Pakistan', 'declare...",NaN,"[2016-12-26, 2016-12-27, 2016-12-28, 2016-12-2...",male,Test,Australia,[SPD Smith],"[Australia, Pakistan]",bat,Pakistan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7465,"[{'1st innings': {'team': 'Afghanistan', 'deli...",Belfast,[2016-07-17],male,ODI,Afghanistan,NaN,"[Ireland, Afghanistan]",bat,Afghanistan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7466,"[{'1st innings': {'team': 'Ireland', 'deliveri...",Belfast,[2016-07-19],male,ODI,Ireland,NaN,"[Ireland, Afghanistan]",field,Afghanistan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7467,[{'1st innings': {'team': 'United Arab Emirate...,Ayr,"[2016-08-09, 2016-08-10, 2016-08-11, 2016-08-12]",male,MDM,NaN,NaN,"[United Arab Emirates, Scotland]",field,Scotland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7468,"[{'1st innings': {'team': 'Scotland', 'deliver...",Edinburgh,[2016-08-14],male,ODI,Scotland,NaN,"[Scotland, United Arab Emirates]",field,United Arab Emirates,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7469,[{'1st innings': {'team': 'United Arab Emirate...,Edinburgh,[2016-08-16],male,ODI,Scotland,NaN,"[Scotland, United Arab Emirates]",bat,United Arab Emirates,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
final_df

,innings,info.city,info.dates,info.gender,info.match_type,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,...,info.supersubs.England,info.supersubs.Africa XI,info.supersubs.Asia XI,info.supersubs.Zimbabwe,info.supersubs.Sri Lanka,info.supersubs.Bangladesh,info.supersubs.India,info.supersubs.ICC World XI,info.supersubs.Pakistan,info.supersubs.West Indies
0,"[{'1st innings': {'team': 'South Africa', 'del...",Perth,"[2016-11-03, 2016-11-04, 2016-11-05, 2016-11-0...",male,Test,South Africa,[K Rabada],"[Australia, South Africa]",bat,South Africa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",Hobart,"[2016-11-12, 2016-11-13, 2016-11-14, 2016-11-15]",male,Test,South Africa,[KJ Abbott],"[Australia, South Africa]",field,South Africa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[{'1st innings': {'team': 'South Africa', 'dec...",NaN,"[2016-11-24, 2016-11-25, 2016-11-26, 2016-11-27]",male,Test,Australia,[UT Khawaja],"[Australia, South Africa]",bat,South Africa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[{'1st innings': {'team': 'Australia', 'delive...",Brisbane,"[2016-12-15, 2016-12-16, 2016-12-17, 2016-12-1...",male,Test,Australia,[Asad Shafiq],"[Australia, Pakistan]",bat,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[{'1st innings': {'team': 'Pakistan', 'declare...",NaN,"[2016-12-26, 2016-12-27, 2016-12-28, 2016-12-2...",male,Test,Australia,[SPD Smith],"[Australia, Pakistan]",bat,Pakistan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7465,"[{'1st innings': {'team': 'Afghanistan', 'deli...",Belfast,[2016-07-17],male,ODI,Afghanistan,NaN,"[Ireland, Afghanistan]",bat,Afghanistan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7466,"[{'1st innings': {'team': 'Ireland', 'deliveri...",Belfast,[2016-07-19],male,ODI,Ireland,NaN,"[Ireland, Afghanistan]",field,Afghanistan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7467,[{'1st innings': {'team': 'United Arab Emirate...,Ayr,"[2016-08-09, 2016-08-10, 2016-08-11, 2016-08-12]",male,MDM,NaN,NaN,"[United Arab Emirates, Scotland]",field,Scotland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7468,"[{'1st innings': {'team': 'Scotland', 'deliver...",Edinburgh,[2016-08-14],male,ODI,Scotland,NaN,"[Scotland, United Arab Emirates]",field,United Arab Emirates,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7469,[{'1st innings': {'team': 'United Arab Emirate...,Edinburgh,[2016-08-16],male,ODI,Scotland,NaN,"[Scotland, United Arab Emirates]",bat,United Arab Emirates,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
final_df = final_df[final_df['info.gender'] == 'male']
final_df.drop(columns=['info.gender'],inplace=True)
final_df

C:\Users\omkar\AppData\Local\Temp\ipykernel_24304\2142223783.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(columns=['info.gender'],inplace=True)

,innings,info.city,info.dates,info.match_type,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,...,info.supersubs.England,info.supersubs.Africa XI,info.supersubs.Asia XI,info.supersubs.Zimbabwe,info.supersubs.Sri Lanka,info.supersubs.Bangladesh,info.supersubs.India,info.supersubs.ICC World XI,info.supersubs.Pakistan,info.supersubs.West Indies
0,"[{'1st innings': {'team': 'South Africa', 'del...",Perth,"[2016-11-03, 2016-11-04, 2016-11-05, 2016-11-0...",Test,South Africa,[K Rabada],"[Australia, South Africa]",bat,South Africa,"[Aleem Dar, NJ Llong]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",Hobart,"[2016-11-12, 2016-11-13, 2016-11-14, 2016-11-15]",Test,South Africa,[KJ Abbott],"[Australia, South Africa]",field,South Africa,"[Aleem Dar, RA Kettleborough]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[{'1st innings': {'team': 'South Africa', 'dec...",NaN,"[2016-11-24, 2016-11-25, 2016-11-26, 2016-11-27]",Test,Australia,[UT Khawaja],"[Australia, South Africa]",bat,South Africa,"[RA Kettleborough, NJ Llong]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[{'1st innings': {'team': 'Australia', 'delive...",Brisbane,"[2016-12-15, 2016-12-16, 2016-12-17, 2016-12-1...",Test,Australia,[Asad Shafiq],"[Australia, Pakistan]",bat,Australia,"[IJ Gould, RK Illingworth]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[{'1st innings': {'team': 'Pakistan', 'declare...",NaN,"[2016-12-26, 2016-12-27, 2016-12-28, 2016-12-2...",Test,Australia,[SPD Smith],"[Australia, Pakistan]",bat,Pakistan,"[IJ Gould, S Ravi]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7465,"[{'1st innings': {'team': 'Afghanistan', 'deli...",Belfast,[2016-07-17],ODI,Afghanistan,NaN,"[Ireland, Afghanistan]",bat,Afghanistan,"[AJ Neill, C Shamshuddin]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7466,"[{'1st innings': {'team': 'Ireland', 'deliveri...",Belfast,[2016-07-19],ODI,Ireland,NaN,"[Ireland, Afghanistan]",field,Afghanistan,"[R Black, C Shamshuddin]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7467,[{'1st innings': {'team': 'United Arab Emirate...,Ayr,"[2016-08-09, 2016-08-10, 2016-08-11, 2016-08-12]",MDM,NaN,NaN,"[United Arab Emirates, Scotland]",field,Scotland,"[AJT Dowdalls, M Hawthorne]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7468,"[{'1st innings': {'team': 'Scotland', 'deliver...",Edinburgh,[2016-08-14],ODI,Scotland,NaN,"[Scotland, United Arab Emirates]",field,United Arab Emirates,"[DA Haggo, M Hawthorne]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7469,[{'1st innings': {'team': 'United Arab Emirate...,Edinburgh,[2016-08-16],ODI,Scotland,NaN,"[Scotland, United Arab Emirates]",bat,United Arab Emirates,"[DA Haggo, M Hawthorne]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
final_df['info.match_type'].value_counts()

info.match_type
T20     3352
ODI     1799
Test     624
ODM      351
IT20     252
MDM       23
Name: count, dtype: int64

In [15]:
final_df['info.overs'].value_counts()

info.overs
20.0    3600
50.0    2154
Name: count, dtype: int64

In [16]:
final_df = final_df[final_df['info.overs'] == 20]
final_df.drop(columns=['info.overs','info.match_type'],inplace=True)
final_df

C:\Users\omkar\AppData\Local\Temp\ipykernel_24304\3157072726.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(columns=['info.overs','info.match_type'],inplace=True)

,innings,info.city,info.dates,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,...,info.supersubs.England,info.supersubs.Africa XI,info.supersubs.Asia XI,info.supersubs.Zimbabwe,info.supersubs.Sri Lanka,info.supersubs.Bangladesh,info.supersubs.India,info.supersubs.ICC World XI,info.supersubs.Pakistan,info.supersubs.West Indies
11,"[{'1st innings': {'team': 'Australia', 'delive...",NaN,[2017-02-17],Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"[{'1st innings': {'team': 'Australia', 'delive...",Victoria,[2017-02-19],Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"[{'1st innings': {'team': 'Australia', 'delive...",NaN,[2017-02-22],Australia,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"[{'1st innings': {'team': 'Hong Kong', 'delive...",Londonderry,[2016-09-05],Hong Kong,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",NaN,[2016-06-18],Zimbabwe,[E Chigumbura],"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7451,"[{'1st innings': {'team': 'Barbados Tridents',...",Lauderhill,[2016-07-30],Guyana Amazon Warriors,[JN Mohammed],"[Barbados Tridents, Guyana Amazon Warriors]",bat,Barbados Tridents,"[JD Cloete, Zahid Bassarath]",Central Broward Regional Park Stadium Turf Ground,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7452,[{'1st innings': {'team': 'St Kitts and Nevis ...,Lauderhill,[2016-07-31],Trinbago Knight Riders,[DJ Bravo],"[St Kitts and Nevis Patriots, Trinbago Knight ...",bat,St Kitts and Nevis Patriots,"[LS Reifer, JD Ward]",Central Broward Regional Park Stadium Turf Ground,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7453,"[{'1st innings': {'team': 'St Lucia Zouks', 'd...",Lauderhill,[2016-07-31],St Lucia Zouks,[SR Watson],"[St Lucia Zouks, Jamaica Tallawahs]",field,Jamaica Tallawahs,"[JD Cloete, PA Gustard]",Central Broward Regional Park Stadium Turf Ground,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7462,"[{'1st innings': {'team': 'Australia', 'delive...",NaN,[2016-09-06],Australia,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7463,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",Colombo,[2016-09-09],Australia,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
import pickle
pickle.dump(final_df,open('dataset_level1.pkl','wb'))

In [19]:
#matches = pickle.load(open('dataset_level1.pkl','rb'))
matches.iloc[0]['innings'][0]['1st innings']['deliveries']

[{0.1: {'batsman': 'AJ Finch',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.2: {'batsman': 'AJ Finch',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.3: {'batsman': 'AJ Finch',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {0.4: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {0.5: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.6: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {1.1: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.2: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {1.3: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.4: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.5: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {1.6: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {2.1: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {2.2: {'batsman': 'AJ Finch',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {2.3: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.4: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.5: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {2.6: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.1: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.2: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.3: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.4: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.5: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {3.6: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.1: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {4.2: {'batsman': 'AJ Finch',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {4.3: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {4.4: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {4.5: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.6: {'batsman': 'AJ Finch',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.1: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.2: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'extras': {'wides': 1},
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {5.3: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.4: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.5: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.6: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.7: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.1: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.2: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.3: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.4: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.5: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.6: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {7.1: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {7.2: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.3: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.4: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'extras': {'byes': 1},
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {7.5: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {7.6: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.1: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.2: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {8.3: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.4: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.5: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.6: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.1: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.2: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.3: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.4: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.5: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {9.6: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.1: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.2: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'extras': {'legbyes': 1},
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {10.3: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['SL Malinga'],
    'kind': 'caught',
    'player_out': 'M Klinger'}}},
 {10.4: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {10.5: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.6: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.1: {'batsman': 'AJ Finch',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {11.2: {'batsman': 'AJ Finch',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {11.3: {'batsman': 'AJ Finch',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['SL Malinga'],
    'kind': 'caught',
    'player_out': 'AJ Finch'}}},
 {11.4: {'batsman': 'TM Head',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.5: {'batsman': 'MC Henriques',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.6: {'batsman': 'TM Head',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.1: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.2: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.3: {'batsman': 'MC Henriques',
   'bowler': 'S Prasanna',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.4: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.5: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.6: {'batsman': 'MC Henriques',
   'bowler': 'S Prasanna',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.1: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {13.2: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'extras': {'wides': 1},
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {13.3: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.4: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {13.5: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.6: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.7: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.1: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.2: {'batsman': 'MC Henriques',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'TM Head',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {14.3: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.4: {'batsman': 'MC Henriques',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'TM Head',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {14.5: {'batsman': 'MC Henriques',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'TM Head',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {14.6: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.1: {'batsman': 'MC Henriques',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['CK Kapugedera'],
    'kind': 'caught',
    'player_out': 'MC Henriques'}}},
 {15.2: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.3: {'batsman': 'AJ Turner',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.4: {'batsman': 'AJ Turner',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.5: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.6: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'extras': {'wides': 1},
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {15.7: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {16.1: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {16.2: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {16.3: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.4: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.5: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.6: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.1: {'batsman': 'TM Head',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.2: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {17.3: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'extras': {'noballs': 1},
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {17.4: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.5: {'batsman': 'TM Head',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.6: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.7: {'batsman': 'TM Head',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {18.1: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {18.2: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.3: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {18.4: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['S Prasanna'],
    'kind': 'caught',
    'player_out': 'TM Head'}}},
 {18.5: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'JP Faulkner',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['S Prasanna'],
    'kind': 'caught',
    'player_out': 'AJ Turner'}}},
 {18.6: {'batsman': 'JP Faulkner',
   'bowler': 'SL Malinga',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {19.1: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {19.2: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {19.3: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {19.4: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'extras': {'wides': 1},
   'non_striker': 'TD Paine',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {19.5: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1},
   'wicket': {'fielders': ['CK Kapugedera', 'KMDN Kulasekara'],
    'kind': 'run out',
    'player_out': 'TD Paine'}}},
 {19.6: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'PJ Cummins',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {19.7: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'PJ Cummins',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}]

In [33]:
count = 1
delivery_df = pd.DataFrame()
for index, row in matches.iterrows():
    if count in [75,108,150,180,268,360,443,458,584,748,982,1052,1111,1226,1345]:
        count += 1
        continue
    count += 1
    ball_of_match = []
    batsman = []
    bowler = []
    runs = []
    player_of_dismissed = []
    teams = []   
    batting_team = []
    match_id = []
    city = []
    venue = []
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(count)
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            try:
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_of_dismissed.append('0')
    loop_df = pd.DataFrame({
        'match_id': match_id,
        'teams': teams,
        'batting_team': batting_team,
        'ball': ball_of_match,
        'batsman': batsman,
        'bowler': bowler,
        'runs': runs,
        'player_dismissed': player_of_dismissed,
        'city': city,
        'venue': venue
    })
    # Use pd.concat instead of append
    delivery_df = pd.concat([delivery_df, loop_df], ignore_index=True)

In [34]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,2,"[Australia, Sri Lanka]",Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground
1,2,"[Australia, Sri Lanka]",Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground
2,2,"[Australia, Sri Lanka]",Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground
3,2,"[Australia, Sri Lanka]",Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground
4,2,"[Australia, Sri Lanka]",Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...,...,...
435106,3601,"[Sri Lanka, Australia]",Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium
435107,3601,"[Sri Lanka, Australia]",Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium
435108,3601,"[Sri Lanka, Australia]",Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium
435109,3601,"[Sri Lanka, Australia]",Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium
435110,3601,"[Sri Lanka, Australia]",Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium

In [37]:
def bowl(row):
    for team in row['teams']:
        if team != row['batting_team']:
            return team

In [38]:
delivery_df['bowling_team'] = delivery_df.apply(bowl,axis=1)

In [39]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,"[Australia, Sri Lanka]",Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
1,2,"[Australia, Sri Lanka]",Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
2,2,"[Australia, Sri Lanka]",Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground,Sri Lanka
3,2,"[Australia, Sri Lanka]",Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
4,2,"[Australia, Sri Lanka]",Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
...,...,...,...,...,...,...,...,...,...,...,...
435106,3601,"[Sri Lanka, Australia]",Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
435107,3601,"[Sri Lanka, Australia]",Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium,Australia
435108,3601,"[Sri Lanka, Australia]",Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium,Australia
435109,3601,"[Sri Lanka, Australia]",Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium,Australia
435110,3601,"[Sri Lanka, Australia]",Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia

In [40]:
delivery_df.drop(columns=['teams'],inplace=True)

In [41]:
delivery_df['batting_team'].unique()

array(['Australia', 'Hong Kong', 'Zimbabwe', 'India', 'St Lucia Zouks',
       'Guyana Amazon Warriors', 'Trinbago Knight Riders',
       'Jamaica Tallawahs', 'Barbados Tridents', 'Bangladesh',
       'New Zealand', 'South Africa', 'Sydney Thunder', 'Brisbane Heat',
       'Melbourne Renegades', 'Hobart Hurricanes', 'Perth Scorchers',
       'Adelaide Strikers', 'Melbourne Stars', 'Sydney Sixers', 'England',
       'West Indies', 'Ireland', 'Afghanistan', 'Gibraltar', 'Germany',
       'Israel', 'Pakistan', 'Saudi Arabia', 'Uganda', 'Kenya', 'China',
       'Yorkshire', 'Surrey', 'Lancashire', 'Hampshire',
       'Gloucestershire', 'Worcestershire', 'Northamptonshire',
       'Derbyshire', 'Nottinghamshire', 'Durham', 'Glamorgan', 'Essex',
       'Warwickshire', 'Leicestershire', 'Sussex', 'Somerset',
       'Middlesex', 'Kent', 'United Arab Emirates', 'Scotland', 'Oman',
       'Namibia', 'Peshawar Zalmi', 'Quetta Gladiators', 'Karachi Kings',
       'Islamabad United', 'Lahore Qalandars', 'Sunrisers Hyderabad',
       'Mumbai Indians', 'Gujarat Lions', 'Rising Pune Supergiant',
       'Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Delhi Daredevils', 'Kings XI Punjab', 'Papua New Guinea',
       'St Lucia Stars', 'St Kitts and Nevis Patriots', 'Sri Lanka',
       'Birmingham Bears', 'Multan Sultans', 'Rajasthan Royals',
       'Chennai Super Kings', 'Netherlands', 'Kuwait', 'Bahrain', 'Qatar',
       'Maldives', 'Nigeria', 'Ghana', 'Gambia', 'Tanzania', 'Rwanda',
       'Vanuatu', 'Samoa', 'Fiji', 'France', 'Portugal', 'Austria',
       'Denmark', 'Cyprus', 'Italy', 'Isle of Man', 'Finland', 'Spain',
       'Jersey', 'Belgium', 'Norway', 'Sweden', 'Guernsey', 'Panama',
       'Belize', 'United States of America', 'Canada', 'Japan', 'Myanmar',
       'Malaysia', 'Singapore', 'Nepal', 'Thailand', 'Swaziland',
       'St Helena', 'Botswana', 'Mozambique', 'Malawi', 'Lesotho',
       'Philippines', 'South Korea', 'Indonesia', 'Delhi Capitals',
       'Bermuda', 'Cayman Islands', 'Bhutan', 'Iran', 'Bulgaria',
       'Romania', 'Deccan Chargers', 'Argentina', 'Kochi Tuskers Kerala',
       'Pune Warriors', 'Trinidad & Tobago Red Steel',
       'Antigua Hawksbills', 'Rising Pune Supergiants'], dtype=object)

In [42]:
teams = [
    'Australia',
    'India',
    'Bangladesh',
    'New Zealand',
    'South Africa',
    'England',
    'West Indies',
    'Afghanistan',
    'Pakistan',
    'Sri Lanka'    
]

In [43]:
delivery_df = delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df = delivery_df[delivery_df['bowling_team'].isin(teams)]

In [44]:
delivery_df

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
1,2,Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
2,2,Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground,Sri Lanka
3,2,Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
4,2,Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
...,...,...,...,...,...,...,...,...,...,...
435106,3601,Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
435107,3601,Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium,Australia
435108,3601,Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium,Australia
435109,3601,Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium,Australia
435110,3601,Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia

In [45]:
output = delivery_df[['match_id','batting_team','bowling_team','ball','runs','player_dismissed','city','venue']]

In [46]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...
435106,3601,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium
435107,3601,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium
435108,3601,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium
435109,3601,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium
435110,3601,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium

In [47]:
pickle.dump(output,open('dataset_level2.pkl','wb'))

In [14]:
import pickle
output = pickle.load(open('dataset_level2.pkl','rb'))

In [15]:
output[output['city'].isnull()]['venue'].value_counts()

venue
Dubai International Cricket Stadium        3092
Pallekele International Cricket Stadium    2066
Melbourne Cricket Ground                   1453
Sydney Cricket Ground                       749
Adelaide Oval                               498
Harare Sports Club                          372
Sharjah Cricket Stadium                     249
Sylhet International Cricket Stadium        128
Carrara Oval                                 64
Name: count, dtype: int64

In [16]:
x = np.where(output['city'].isnull(), output['venue'].str.split().apply(lambda x:x[0]), output['city'])

In [17]:
output['city'] = x

In [18]:
output.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [19]:
output.drop(columns=['venue'],inplace=True)

In [20]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne
...,...,...,...,...,...,...,...
435106,3601,Sri Lanka,Australia,19.3,1,0,Colombo
435107,3601,Sri Lanka,Australia,19.4,0,0,Colombo
435108,3601,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo
435109,3601,Sri Lanka,Australia,19.6,2,0,Colombo
435110,3601,Sri Lanka,Australia,19.7,1,0,Colombo

In [21]:
total_df = output.groupby('match_id').sum()['runs'].reset_index()
output = output.merge(total_df,on='match_id')

In [22]:
output

,match_id,batting_team,bowling_team,ball,runs_x,player_dismissed,city,runs_y
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,168
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,168
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,168
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,168
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,168
...,...,...,...,...,...,...,...,...
64923,3601,Sri Lanka,Australia,19.3,1,0,Colombo,128
64924,3601,Sri Lanka,Australia,19.4,0,0,Colombo,128
64925,3601,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,128
64926,3601,Sri Lanka,Australia,19.6,2,0,Colombo,128
64927,3601,Sri Lanka,Australia,19.7,1,0,Colombo,128

In [23]:
# Convert 'runs_x' to numeric, forcing errors to NaN and then filling them with 0 (if necessary)
output['runs_x'] = pd.to_numeric(output['runs_x'], errors='coerce').fillna(0)

# Apply groupby and cumsum to calculate the current score
output['current_score'] = output.groupby('match_id')['runs_x'].cumsum()

In [24]:
output['over'] = output['ball'].apply(lambda x:str(x).split(".")[0])
output['ball_no'] = output['ball'].apply(lambda x:str(x).split(".")[1])

In [25]:
output['balls_bowled'] = (output['over'].astype('int')*6) + output['ball_no'].astype('int')

In [26]:
output['crr'] = round((output['current_score']*6)/output['balls_bowled'],2)

In [27]:
# Convert 'player_dismissed' to integers (handling potential issues with non-integer values)
output['player_dismissed'] = output['player_dismissed'].apply(lambda x: 0 if x == '0' else 1)
output['player_dismissed'] = pd.to_numeric(output['player_dismissed'], errors='coerce').fillna(0).astype(int)

# Apply groupby and cumsum
output['player_dismissed'] = output.groupby('match_id')['player_dismissed'].cumsum()

# Calculate the remaining wickets
output['wickets_left'] = 10 - output['player_dismissed']

In [28]:
final_df = output[['match_id','batting_team','bowling_team','runs_x','current_score','balls_bowled','wickets_left','crr','city','runs_y']]

In [29]:
final_df

,match_id,batting_team,bowling_team,runs_x,current_score,balls_bowled,wickets_left,crr,city,runs_y
0,2,Australia,Sri Lanka,0,0,1,10,0.00,Melbourne,168
1,2,Australia,Sri Lanka,0,0,2,10,0.00,Melbourne,168
2,2,Australia,Sri Lanka,1,1,3,10,2.00,Melbourne,168
3,2,Australia,Sri Lanka,2,3,4,10,4.50,Melbourne,168
4,2,Australia,Sri Lanka,0,3,5,10,3.60,Melbourne,168
...,...,...,...,...,...,...,...,...,...,...
64923,3601,Sri Lanka,Australia,1,125,117,2,6.41,Colombo,128
64924,3601,Sri Lanka,Australia,0,125,118,2,6.36,Colombo,128
64925,3601,Sri Lanka,Australia,0,125,119,1,6.30,Colombo,128
64926,3601,Sri Lanka,Australia,2,127,120,1,6.35,Colombo,128
64927,3601,Sri Lanka,Australia,1,128,121,1,6.35,Colombo,128

In [30]:
final_df = final_df.sample(final_df.shape[0])

In [31]:
final_df['balls_left'] = 120 - final_df['balls_bowled']
final_df['balls_left'] = final_df['balls_left'].apply(lambda x:0 if x<0 else x)

In [32]:
final_df['crr'] = round((final_df['current_score']*6)/final_df['balls_bowled'],2)

In [33]:
final_df

,match_id,batting_team,bowling_team,runs_x,current_score,balls_bowled,wickets_left,crr,city,runs_y,balls_left
12784,887,Pakistan,Australia,1,1,2,10,3.00,Dubai,150,118
7538,440,Sri Lanka,India,0,18,21,7,5.14,Mumbai,135,99
3764,323,Bangladesh,Sri Lanka,0,28,18,9,9.33,Colombo,155,102
13012,888,Pakistan,New Zealand,1,115,104,6,6.63,Abu Dhabi,148,16
39223,2112,India,England,4,11,8,10,8.25,Manchester,165,112
...,...,...,...,...,...,...,...,...,...,...,...
57326,3164,New Zealand,South Africa,0,69,50,9,8.28,Durban,151,70
50335,2541,Australia,India,0,10,8,10,7.50,Rajkot,201,112
22269,1758,England,Australia,1,105,72,6,8.75,Southampton,179,48
61804,3459,Bangladesh,Australia,0,19,24,9,4.75,Bangalore,156,96
233,3,Australia,Sri Lanka,1,156,106,4,8.83,Victoria,173,14

In [34]:
final_df.drop(columns=['balls_bowled'],inplace=True)

In [35]:
groups = final_df.groupby('match_id')

In [36]:
import pandas as pd

# First, ensure 'runs_x' in the original DataFrame is numeric
final_df['runs_x'] = pd.to_numeric(final_df['runs_x'], errors='coerce')

# Then, create the groups after converting to numeric
groups = final_df.groupby('match_id')

# Now perform the rolling sum only on numeric data
match_ids = final_df['match_id'].unique()
last_five = []

for id in match_ids:
    group = groups.get_group(id)
    # Fill NaN values with 0, or you could drop them
    group['runs_x'] = group['runs_x'].fillna(0)
    last_five.extend(group.rolling(window=30)['runs_x'].sum().values.tolist())

C:\Users\omkar\AppData\Local\Temp\ipykernel_27684\3046817659.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group['runs_x'] = group['runs_x'].fillna(0)

In [37]:
final_df['last_five'] = last_five

In [38]:
final_df

,match_id,batting_team,bowling_team,runs_x,current_score,wickets_left,crr,city,runs_y,balls_left,last_five
12784,887,Pakistan,Australia,1,1,10,3.00,Dubai,150,118,NaN
7538,440,Sri Lanka,India,0,18,7,5.14,Mumbai,135,99,NaN
3764,323,Bangladesh,Sri Lanka,0,28,9,9.33,Colombo,155,102,NaN
13012,888,Pakistan,New Zealand,1,115,6,6.63,Abu Dhabi,148,16,NaN
39223,2112,India,England,4,11,10,8.25,Manchester,165,112,NaN
...,...,...,...,...,...,...,...,...,...,...,...
57326,3164,New Zealand,South Africa,0,69,9,8.28,Durban,151,70,46.0
50335,2541,Australia,India,0,10,10,7.50,Rajkot,201,112,51.0
22269,1758,England,Australia,1,105,6,8.75,Southampton,179,48,52.0
61804,3459,Bangladesh,Australia,0,19,9,4.75,Bangalore,156,96,NaN
233,3,Australia,Sri Lanka,1,156,4,8.83,Victoria,173,14,NaN

In [39]:
final_df.dropna(inplace=True)

In [40]:
final_df

,match_id,batting_team,bowling_team,runs_x,current_score,wickets_left,crr,city,runs_y,balls_left,last_five
36393,2072,Pakistan,Australia,0,2,9,2.40,Birmingham,167,115,32.0
59886,3300,Pakistan,New Zealand,0,16,10,6.40,Hamilton,168,105,31.0
17051,1268,New Zealand,England,1,173,4,8.95,Nelson,180,4,30.0
49377,2533,Australia,England,1,52,10,8.91,Hobart,213,85,33.0
41755,2238,West Indies,Bangladesh,0,71,8,6.26,Mirpur,132,52,34.0
...,...,...,...,...,...,...,...,...,...,...,...
50792,2545,South Africa,Pakistan,1,59,9,7.53,Dubai,150,73,40.0
45956,2364,India,Sri Lanka,0,7,9,4.20,Pallekele,155,110,40.0
57326,3164,New Zealand,South Africa,0,69,9,8.28,Durban,151,70,46.0
50335,2541,Australia,India,0,10,10,7.50,Rajkot,201,112,51.0
22269,1758,England,Australia,1,105,6,8.75,Southampton,179,48,52.0

In [41]:
#pip install xgboost

In [42]:
eligible_cities = final_df['city'].value_counts()[final_df['city'].value_counts() > 600].index.tolist()
final_df = final_df[final_df['city'].isin(eligible_cities)]

In [43]:
X = final_df.drop(columns=['match_id','runs_x','runs_y'])
y = final_df['runs_y']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [44]:
X_test

,batting_team,bowling_team,current_score,wickets_left,crr,city,balls_left,last_five
14516,Sri Lanka,Australia,42,8,6.63,Melbourne,82,34.0
54870,Bangladesh,Sri Lanka,44,6,6.95,Chittagong,82,60.0
30155,New Zealand,Pakistan,42,7,5.60,London,75,31.0
44974,Pakistan,Bangladesh,34,9,8.87,Mirpur,97,46.0
30474,Sri Lanka,New Zealand,3,10,9.00,Nottingham,118,33.0
...,...,...,...,...,...,...,...,...
46546,New Zealand,England,165,7,9.80,London,19,52.0
51724,Sri Lanka,England,174,4,9.16,London,6,35.0
40327,Australia,India,157,7,8.64,Sydney,11,37.0
56426,South Africa,Australia,60,6,4.86,Melbourne,46,28.0
29532,Sri Lanka,West Indies,79,10,10.09,Nottingham,73,38.0

In [45]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_absolute_error

# Create the ColumnTransformer
trf = ColumnTransformer([
    ('trf', OneHotEncoder(sparse_output=False, drop='first'), ['batting_team', 'bowling_team', 'city'])
], remainder='passthrough')

# Create a pipeline with XGBRegressor
pipeline = Pipeline([
    ('transformer', trf),
    ('scaler', StandardScaler()),
    ('model', XGBRegressor())  # or RandomForestRegressor()
])

# Fit the model (example, replace X and y with your actual data)
# pipeline.fit(X, y)

# Predictions (example, replace X_test with your actual test data)
# y_pred = pipeline.predict(X_test)

# Calculate metrics
# print("R2 Score:", r2_score(y_test, y_pred))
# print("Mean Absolute Error:", mean_absolute_error(y_test, y_pred))

In [46]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [47]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.9556364996136791
3.185377808641796

In [48]:
pickle.dump(pipe,open('pipe.pkl','wb'))

In [49]:
pip install lightgbm

Requirement already satisfied: lightgbm in c:\users\omkar\anaconda3\lib\site-packages (4.5.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.17.0 in c:\users\omkar\anaconda3\lib\site-packages (from lightgbm) (1.26.4)
Requirement already satisfied: scipy in c:\users\omkar\anaconda3\lib\site-packages (from lightgbm) (1.13.1)

In [1]:
pip install optuna

Requirement already satisfied: optuna in c:\users\omkar\anaconda3\lib\site-packages (4.0.0)
Requirement already satisfied: alembic>=1.5.0 in c:\users\omkar\anaconda3\lib\site-packages (from optuna) (1.13.3)
Requirement already satisfied: colorlog in c:\users\omkar\anaconda3\lib\site-packages (from optuna) (6.8.2)
Requirement already satisfied: numpy in c:\users\omkar\anaconda3\lib\site-packages (from optuna) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\omkar\appdata\roaming\python\python312\site-packages (from optuna) (24.1)
Requirement already satisfied: sqlalchemy>=1.3.0 in c:\users\omkar\anaconda3\lib\site-packages (from optuna) (2.0.30)
Requirement already satisfied: tqdm in c:\users\omkar\anaconda3\lib\site-packages (from optuna) (4.66.4)
Requirement already satisfied: PyYAML in c:\users\omkar\anaconda3\lib\site-packages (from optuna) (6.0.1)
Requirement already satisfied: Mako in c:\users\omkar\anaconda3\lib\site-packages (from alembic>=1.5.0->optuna) (1.3.6)
Requirement already satisfied: typing-extensions>=4 in c:\users\omkar\anaconda3\lib\site-packages (from alembic>=1.5.0->optuna) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\omkar\anaconda3\lib\site-packages (from sqlalchemy>=1.3.0->optuna) (3.0.1)
Requirement already satisfied: colorama in c:\users\omkar\appdata\roaming\python\python312\site-packages (from colorlog->optuna) (0.4.6)
Requirement already satisfied: MarkupSafe>=0.9.2 in c:\users\omkar\anaconda3\lib\site-packages (from Mako->alembic>=1.5.0->optuna) (2.1.3)
Note: you may need to restart the kernel to use updated packages.

In [61]:
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.ensemble import StackingRegressor, RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.metrics import r2_score, mean_absolute_error
import optuna

In [62]:
def optimize_xgboost(trial, X_train, y_train):
    params = {
        'n_estimators': trial.suggest_int('n_estimators', 500, 3000),
        'max_depth': trial.suggest_int('max_depth', 4, 15),
        'learning_rate': trial.suggest_float('learning_rate', 0.01, 0.3),
        'subsample': trial.suggest_float('subsample', 0.6, 1.0),
        'colsample_bytree': trial.suggest_float('colsample_bytree', 0.6, 1.0),
        'min_child_weight': trial.suggest_int('min_child_weight', 1, 7),
        'gamma': trial.suggest_float('gamma', 0, 1)
    }
    model = XGBRegressor(**params, random_state=42)
    return np.mean(cross_val_score(model, X_train, y_train, cv=5, scoring='r2'))

In [63]:
# Main training pipeline
def create_stacking_model(X_train, X_test, y_train, y_test):
    # Base models
    estimators = [
        ('xgb', XGBRegressor(n_estimators=1000, learning_rate=0.1, max_depth=10, random_state=42)),
        ('lgbm', LGBMRegressor(n_estimators=1000, random_state=42)),
        ('rf', RandomForestRegressor(n_estimators=500, random_state=42)),
        ('gbm', GradientBoostingRegressor(n_estimators=500, random_state=42))
    ]
    
    # Final estimator
    final_estimator = XGBRegressor(n_estimators=200, random_state=42)
    
    # Create stacking model
    stack = StackingRegressor(
        estimators=estimators,
        final_estimator=final_estimator,
        cv=5,
        n_jobs=-1
    )
    
    return stack

In [64]:
# Main execution pipeline
def train_cricket_model(final_df):
    # Define feature columns
    categorical_features = ['batting_team', 'bowling_team', 'city']
    numerical_features = ['current_score', 'wickets_left', 'crr', 'balls_left', 'last_five']
    
    # Prepare features
    X = final_df[categorical_features + numerical_features]
    y = final_df['runs_y']  # Assuming this is your target variable
    
    # Train-test split
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    
    # Create preprocessing pipeline
    preprocessor = ColumnTransformer([
        ('categorical', OneHotEncoder(sparse_output=False, drop='first'), 
         categorical_features),
        ('numerical', StandardScaler(), 
         numerical_features)
    ])
    
    # Create and train stacking model
    stack_model = create_stacking_model(X_train, X_test, y_train, y_test)
    
    # Create final pipeline
    pipeline = Pipeline([
        ('preprocessor', preprocessor),
        ('model', stack_model)
    ])
    
    # Train model
    pipeline.fit(X_train, y_train)
    
    # Make predictions
    y_pred = pipeline.predict(X_test)
    
    # Calculate metrics
    r2 = r2_score(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    
    return pipeline, r2, mae, X_test, y_test, y_pred

# Example usage
if __name__ == "__main__":
    # Assuming final_df is your dataset with runs_y as target
    pipeline, r2, mae, X_test, y_test, y_pred = train_cricket_model(final_df)
    print(f"R2 Score: {r2:.4f}")
    print(f"Mean Absolute Error: {mae:.4f}")

R2 Score: 0.9514
Mean Absolute Error: 3.2148

In [66]:
pickle.dump(pipeline,open('pipe3.pkl','wb'))